<div>
    <div class="fflex" style="align-items: stretch">
        <sly-card title="Input" style="width: 50%" class="mr15">
            <sly-field title="" description="Video project">
                <a slot="title" target="_blank"
                   :href="`/projects/${data.projectId}/datasets`">{{data.projectName}}</a>
                <sly-icon slot="icon" :options="{ imageUrl: `${data.projectPreviewUrl}` }"/>
            </sly-field>
        </sly-card>
        <sly-card title="Output" style="width: 50%;">
            <div v-if="data.started === true && data.progress !== 100">
                <div>Processing videos: {{data.progressCurrent}} / {{data.progressTotal}}</div>
                <el-progress :percentage="data.progress"></el-progress>
            </div>
            <sly-field v-if="data.progress === 100" title=""
                       description="New project has been successfully created">
                <a slot="title" target="_blank" :href="`/projects/${data.resultProjectId}/datasets`">{{data.resultProject}}</a>
                <sly-icon slot="icon" :options="{ imageUrl: `${data.resultProjectPreviewUrl}` }"/>
            </sly-field>
        </sly-card>
    </div>

    <sly-card class="mt15"
              title="Quantitative stats for video objects"
              subtitle="Basic number for project / for every class / for every dataset"
              style="min-height: 200px;"
    >
        <sly-table v-loading="data.loading"
                   element-loading-text="Calculating ..."
                   :content="data.table">
        </sly-table>
    </sly-card>
</div>